* { 
    margin: 0;             
    padding: 0;            
    box-sizing: border-box; 
}

body { 
    font-family: 'Segoe UI', sans-serif; 
    line-height: 1.6;     
    color: #333;          
    display: flex;         
    flex-direction: column; 
    min-height: 100vh;     
}  

.navbar {
    display: flex;                
    justify-content: space-around; 
    align-items: center;          
    padding: 20px;                
    border-bottom: 1px solid #007bff;
    background-color: #5ca7e4;   
    flex-wrap: wrap;              
}

.nav-links { 
    display: flex;      
    list-style: none;   
    gap: 40px;          
}

.nav-links a { 
    text-decoration: none; 
    color: #555;          
    font-weight: 700;      
    font-size: 1.3rem;     
    transition: 0.3s;     
}

.nav-links a:hover { 
    color: #ffffff; 
}

.hero {
    display: flex;                
    align-items: center;         
    justify-content: space-between;
    padding: 80px 10%;            
    min-height: 70vh;          
    gap: 40px;                   
    flex: 1;                      
}

.hero-text {
    flex: 1; 
}

.hero-img {
    flex: 1;                
    display: flex;         
    justify-content: center; 
}

.hero-img img {
    max-width: 100%; 
    height: auto;    
}

h1 { 
    font-size: clamp(2.5rem, 8vw, 4rem); 
    margin-bottom: 10px; 
    color: #222;         
}

.subtitle { 
    font-size: clamp(1.5rem, 4vw, 2rem); 
    color: #666;         
    margin-bottom: 30px; 
}

.descripcion {
    font-size: 1.5rem;   
    font-weight: 500;     
    color: #444;         
    margin-bottom: 25px; 
    line-height: 1.6;    
    max-width: 900px;    
}

.botones { 
    margin-bottom: 30px; 
    display: flex;       
    flex-wrap: wrap;     
    gap: 10px;           
}

.btn {
    display: inline-block; 
    padding: 10px 25px;    
    border: 1px solid #5ca7e4; 
    text-decoration: none; 
    color: #333;           
    border-radius: 5px;    
    transition: 0.3s;      
    font-weight: 600;      
    font-size: 1.5rem;     
    text-align: center;    
}

.btn:hover {
    background: #5ca7e4; 
    color: #fff;         
}

.redes-sociales {
    margin-top: 20px; 
    display: flex;    
    gap: 20px;        
    flex-wrap: wrap;  
}

.redes-sociales a {
    color: #5ca7e4;   
    font-size: 2.5rem; 
    transition: transform 0.3s, color 0.3s; 
    text-decoration: none;
    display: inline-block; 
}

.redes-sociales a:hover {
    color: #222;              
    transform: translateY(-5px); 
}

footer {
    text-align: center;   
    padding: 20px;        
    background: #5ca7e4;  
    font-size: 1.3rem;    
    font-weight: 500;     
    margin-top: auto;     
}

@media (max-width: 992px) {
    .nav-links { gap: 30px; }  
    .hero { padding: 40px 5%; } 
}

@media (max-width: 768px) {
    .navbar { 
        flex-direction: column; 
        gap: 15px; 
    }
    .nav-links { 
        gap: 15px; 
        flex-direction: column; 
        text-align: center; 
    }

    .hero { 
        flex-direction: column; 
        text-align: center;     
        justify-content: center;
    }
    .hero-text { order: 2; } 
    .hero-img { 
        order: 1;      
        width: 100%;   
    }

    .descripcion { font-size: 1.2rem; } 
    .btn { 
        width: 100%;    
        margin-right: 0; 
    }
    .botones { justify-content: center; } 
    .redes-sociales { justify-content: center; } 
    
    footer { font-size: 1.2rem; } 
}